{% extends "base.html" %}

{% block content %}
    <div class="row min-vh-100">
        <div class="col-lg-8 mx-auto my-auto">
            <h2 id="room-name" data-slug="{{ room.slug }}">{{ room.room_name }}</h2>
            <div class="row mb-3">
                <div class="col">
                    <div id="message-window" class="border bg-light overflow-auto rounded" style="min-height: 350px; max-height: 350px">
                        {% if count > 10 %}
                        <div class="d-flex justify-content-center m-3">
                            <a class="rounded-pill btn btn-outline-primary" href="{% url 'chat:history' room.slug %}" role="button">Вся история чата</a>
                        </div>
                        {% endif %}
                        {% for message in messages %}
                        <div class="m-3">
                            <div class="rounded-pill p-2 px-3 bg-primary text-white d-inline-block {% if message.user.username == user.username %}float-end{% endif %}">{{ message.text }}</div>
                            <div class="clearfix"></div>
                            <div class="d-inline-block {% if message.user.username == user.username %}float-end{% endif %}">
                                <small><i>— <strong class="pe-2">{{ message.user.username }},</strong></i> <span class="text-muted">{{ message.timestamp|date:"d/m/Y," }} {{ message.timestamp|time:"H:i" }}</span></small>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 mb-3">
                    <input id="message-input" class="form-control " type="text" size="20" placeholder="Введите сообщение..." autofocus data-username="{{ user.username }}">
                </div>
                <div class="col-lg-3">
                    <input id="message-submit" class="w-100 btn btn-primary" type="button" value="Отправить">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% load static %}
{% block script %}
<script type="module" src="{% static 'chat.js' %}"></script>
{% endblock %}
