{% extends "base.html" %}

{% block content %}
    <div class="row min-vh-100">
        <div class="col-4 mx-auto my-auto">
            <div class="text-center">
                <h2 class="mb-4">Регистрация</h2>
            </div>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form.username }}
                    <label for="id_username">Имя</label>
                    {% if form.username.errors %}
                    <div id="id_username" class="invalid-feedback">
                        {% for error in form.username.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-floating mb-3">
                    {{ form.password1 }}
                    <label for="id_password1">Пароль</label>
                    {% if form.password1.errors %}
                    <div id="id_password1" class="invalid-feedback">
                        {% for error in form.password1.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-floating mb-3">
                    {{ form.password2 }}
                    <label for="id_password2">Подтвердждение пароля</label>
                    {% if form.password2.errors %}
                    <div id="id_password2" class="invalid-feedback">
                        {% for error in form.password2.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <button class="w-100 btn btn-lg btn-secondary" type="submit" name="button" value="create">Зарегистрироваться</button>
            </form>
        </div>
    </div>

{% endblock %}